.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.ctfassets.net/hrltx12pl8hq/1fR5Y7KaK9puRmCDaIof7j/09e2b2b9eaf42d450aba695056793607/vector1.jpg");
  background-size: cover;
  background-position: center;
}

form {
  background-color: white;
  padding: 025px 50px;
  border-radius: 10px;
}

input {
  padding: 20px;
  margin: 20px 0px;
  display: block;
  border-radius: 5px;
  border: 1px solid grey;
}
button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  height: 25%;
  width: 50%;
  color: white;
  background-color: blue;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 15px;
  justify-content: center;
  margin-left: 50px;
  margin-top: 15px;
}
button:active,
button:hover {
  background-color: rgb(47, 47, 249);
  border-color: rgb(0, 0, 92);
}

span {
  font-size: 12px;
  color: red;
  padding: 3px;
  display: none;
}
input:invalid[focused="true"] ~ span {
  display: block;
}

input:invalid[focused="true"] {
  border: 1px solid red;
}
